.App {
  font-family: sans-serif;
  text-align: center;
  background: orange;
  padding: 1rem;
}

.emoji-div {
  background: white;
  padding: 0.2rem;
  border: 1px solid black;
  max-width: 80%;
  margin: auto;
}

.search-box {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
